.table_markets {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
}

.table_markets td,
.table_markets th {
  text-align: left;
  padding: 0.5rem 0;
}

.table_markets tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.imgCoin {
  width: 20px;
  height: 20px;
}

.coin_box {
  display: flex;
  justify-content: left;
}

.coin_box:hover {
  cursor: pointer;
}

.imgCoin {
  max-width: 2rem;
  margin-right: 1em;
}

#market_rank {
  width: 20px;
}

.cart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  margin: 0.2rem 0;
}

#dropdown-categories {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.dropdown-categories-items {
  display: block;
  clear: both;
  font-weight: 400;
  white-space: nowrap;
  padding: 0px 20px;
  cursor: pointer;
}

.dropdown-categories-items:hover {
  text-decoration: underline;
  color: #007bff;
}

.portfolio {
  cursor: pointer;
}

.active-portfolio {
  color: yellow;
}

@media only screen and (max-width: 1100px) {
  .total_volume {
    display: none;
  }

  tr .contact .view {
    display: none;
  }
}

@media screen and (max-width: 695px) {
  .table_markets thead {
    display: none;
  }

  .table_markets,
  .table_markets tbody,
  .table_markets tr,
  .table_markets td {
    display: block;
    width: 100%;
  }

  .table_markets tr {
    margin-bottom: 1rem;
  }

  .table_markets td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .table_markets td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
  }

  .coin_box {
    justify-content: end;
  }
}