.container_charge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  background-size: cover;
  width: 100%;
  margin-top: 56px;
  margin-bottom: 2em;
  font-size: 15px;
  background: url("../../images/coin2.png");
  background-size: cover;
}

.container_charge h4 {
  font-size: 2.5em;
  color: var(--yellwo-color);
}

.container_chargeform {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #212529a1;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
}

.form_charge {
  padding: 0.5em;
}

.chargeform_group {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

.btn_recharge {
  padding: 0.4em 1em;
  margin: 0.5em auto 0.5em;
  background-color: white;
  color: var(--yellwo-color);
  border: 1px solid var(--yellwo-color);
  border-radius: 5px;
}

.btn_recharge:hover {
  background-color: var(--yellwo-color);
  color: white;
}

.group-img-credit {
  display: flex;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.group-img-credit span {
  justify-content: space-between;
}


.img-contain {
  width: 100px;
  height: auto;
}

.img-credit {
  padding: 0 10px;
  width: 125%;
  height: auto;
  cursor: pointer;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img {
  cursor: pointer;
}

[type=radio]:checked+img {
  outline: 2px solid #f00;
}