.userBudget {
  min-height: calc(100vh - 56px);
  background-size: cover;
  margin-bottom: 32px;
}

.userBudget {
}

.userBudget .ant-tabs-nav {
  min-height: 100vh;
}

.userBudget .ant-tabs-tab {
  color: var(--yellwo-color);
  letter-spacing: 2px;
  margin: 0;
}

.userBudget .ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background-color: var(--yellwo-color);
}

.userBudget .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
}

.userBudget
  .ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0;
}
.ant-tabs-content-holder {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .userBudget * {
    font-size: 12px;
  }
  .userBudget .ant-tabs-nav {
    max-width: 20%;
  }
  :where(.css-dev-only-do-not-override-1s3dcof).ant-tabs
    > .ant-tabs-nav
    .ant-tabs-nav-wrap,
  :where(.css-dev-only-do-not-override-1s3dcof).ant-tabs
    > div
    > .ant-tabs-nav
    .ant-tabs-nav-wrap {
    white-space: normal;
  }
  :where(.css-dev-only-do-not-override-1s3dcof).ant-tabs-left
    > .ant-tabs-nav
    .ant-tabs-tab {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .userBudget * {
    font-size: 10px;
  }
  .userBudget .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  }
}
