.btn-cart {
  border: 1px solid var(--yellwo-color);
  align-self: center;
}

.btn-cart:hover {
  background-color: var(--yellwo-color);
  color: white;
  animation: bounceIn;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.6s;
}

.money {
  margin: 5px 0 0 10px;
}

@media screen and (max-width: 992px) {
  .meune_collapse1 {
    text-align: center;
  }

  .money {
    display: none;
  }

  .btn-cart {
    display: none;
  }

  .menu-right {
    flex-direction: row;
  }

  .menu-profile {
    width: 100%;
  }

  .navbar .container-fluid {
    justify-content: initial;
  }

  .menu-right {
    position: absolute;
    top: 8px;
    right: 0.5rem;
  }
}
