input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 13px;
}
input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 4;
}
.main {
  margin-top: 56px;
  min-height: 100vh;
  background-size: cover;
  color: #333;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 32px 24px;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  position: relative;
  z-index: 1;
  color: white;
  height: 50%;
}

.form .heading {
  font-size: 1.4rem;
}
.form .infor {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  /* margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  /* width: 50%; */
  /* font-size: 14px;
  border-radius: 8px;
  cursor: pointer; */
  width: 100%;
}

.form-submit:hover {
  background-color: white;
  color: black;
}

.spacer {
  margin-top: 36px;
}
.error {
  color: red;
}
